
Tenemos <%= @sentences.size %> frases <br/>

<p>
Perpetradores:<br/> 
<% @speakers.each do |s| %>
<%= s %> <br/>
<% end %>
</p>

<% @sentences.each do |s| %>
<p>
<%=s.contents  %><br/>
<% if not s.meaning.empty? %>
Quizá quiso decir <%= s.meaning %>  :/<br/>
<% end %>
<%=s.speaker  %><br/>
</p>
<% end %>
