
<%=session['fb_error']%>
<% if flash[:notice]%>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div style="float:center; text-align:center;">
  <h3><%= session['fb_auth']['user_info']['first_name'] + ', ' if session['fb_token'] %>
      tu frase del día</h3>

 <% if not @sentence.nil? %>
  <%=@sentence.contents  %><br/>
  <% if not @sentence.meaning.empty? %>
    Quizá quiso decir <%= @sentence.meaning %>  :/<br/>
  <% end %>
  <%=@sentence.speaker  %><br/>
 <% end %>
</div>

<div id="hall" style="margin-top:10px; float:right; text-align:center; padding:0px;background:#F3F3F3; ">
  <div id="hall_title" style="padding:5px;background:#A7C942;">
    Hall of Infame
  </div>

  <div id="infames" style="margin:10px">
    <table>
      <% @ranking.each do |a| %>
      <tr>
        <td><%= a[0] %>:</td><td> <%= a[1] %></td>
      </tr>
     <% end %>
    </table>
  </div>
</div>

<footer style="margin-top:300px; text-align:center">
  <% if session['fb_token'] %>
    <a href="/postToFB">Enviar frase a Facebook</a>
  <% else %>
    <a href="/auth/facebook">Logete para enviar a Facebook</a>
  <% end %>
</footer>

<!--

<% if session['fb_auth'] %>
<a href='logout'><img src='images/fb_logout_button.png'></a>
<% else %>
<a href='auth/facebook'><img src='images/rails.png'></a>
<% end %>
<a href='auth/facebook'>ein</a>


<% if session['fb_auth'] %>
<hr />
<p><span class='like_site'>Do you like this site?</span></p>
<p><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffaceboku.heroku.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe></p>
<% end %>
-->